# P1M2 MODEL INFERANCE

### Name : Iqbal Janitra
### Batch : 003

In [1]:
import pandas as pd
import numpy as np
import joblib

# MODEL LOAD

In [2]:
with open('all_process', 'rb') as file_1:
  all_process= joblib.load(file_1)

### Make Random Data

In [3]:
random = np.random.default_rng(seed=2895)
sample type = random.integers(501, 1998, size=30)
v1 =  random.integers(500, 1960, size=30)
v2 =  random.integers(500, 1998, size=30)
v3 = random.integers(256, 3998, size=30)
v4 = random.choice([1,0], size=30)
v5 = random.choice([1,0], size=30)
v6 = random.choice([1,0], size=30) = random.choice([2, 3, 5, 6, 1, 8, 4, 7], size=30)
v7 = random.choice([4, 11, 16, 21,  2], size=30)
 = random.choice([4, 11, 16, 20,  2], size=30)
data_inf = pd.DataFrame({'battery_power' : battery_power, 'px_height' : px_height, 'px_width' : px_width, 'ram':ram,
                        'four_g' : four_g, 'touch_screen' : touch_screen, 'dual_sim' : dual_sim, 'n_cores' : n_cores, 'primary_camera' : primary_camera,
                         'front_camera' : front_camera})
data_inf

,battery_power,px_height,px_width,ram,four_g,touch_screen,dual_sim,n_cores,primary_camera,front_camera
0,567,1188,1364,2934,0,0,0,7,2,11
1,1986,555,1684,2591,0,0,0,5,2,20
2,1256,826,581,3477,1,1,0,3,21,4
3,609,1232,1978,2364,1,0,0,1,4,4
4,1015,1102,1228,2088,0,1,0,5,16,11
5,1512,1626,831,3962,0,0,1,7,16,2
6,674,932,1129,1445,0,1,0,3,21,4
7,1611,970,1653,1887,0,1,1,4,16,16
8,1300,1262,1117,1105,1,0,1,4,4,11
9,1733,767,1054,763,0,0,0,8,21,4
10,1669,975,920,2404,0,0,0,4,16,11
11,1969,1605,841,3975,1,1,0,7,16,4
12,780,1849,1814,467,1,0,1,4,11,2
13,1125,933,1052,3929,0,0,1,6,2,16
14,1697,638,1717,2675,1,0,1,5,4,2
15,1366,1544,1427,3867,1,0,0,4,11,11
16,1519,1400,1516,2250,1,0,0,8,16,11
17,991,801,895,2853,1,0,1,8,2,16
18,1746,1116,1471,1614,0,1,1,5,11,16
19,1775,1952,619,3496,0,1,1,1,4,4
20,1594,787,1381,3238,1,1,1,4,16,20
21,1166,1821,1990,2738,1,0,0,1,16,16
22,1497,1004,1944,1934,0,0,0,1,2,16
23,1563,1307,1461,1590,0,1,1,4,21,20
24,1427,1489,1738,3318,1,0,1,1,16,11
25,665,1091,990,564,0,0,1,3,11,16
26,1596,1720,1605,2752,0,1,1,1,4,11
27,1563,730,614,3106,0,1,1,3,21,20
28,742,694,1803,1154,0,0,0,3,2,4
29,1224,1037,976,3906,0,1,1,8,11,20

# Make a final model prediction

In [4]:
final_predict = all_process.predict(data_inf)
final_predict

array([2, 3, 3, 2, 1, 3, 0, 2, 1, 0, 2, 3, 0, 3, 3, 3, 2, 2, 1, 3, 3, 3,
       1, 1, 3, 0, 3, 3, 1, 3])

In [5]:
predict = pd.DataFrame(final_predict, columns=["Price Range Prediction"])
predict

    Price Range Prediction
0                        2
1                        3
2                        3
3                        2
4                        1
5                        3
6                        0
7                        2
8                        1
9                        0
10                       2
11                       3
12                       0
13                       3
14                       3
15                       3
16                       2
17                       2
18                       1
19                       3
20                       3
21                       3
22                       1
23                       1
24                       3
25                       0
26                       3
27                       3
28                       1
29                       3